<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<link rel="stylesheet" href="style.css">
<body>
<form method="POST" action="/editProfile">
{{>afterHeader}}
<br/>
<h1>{{title}}</h1>
<br/>
<br/>
<div class="container">
Update Name : <input type="text" name="name"><br/><br/>
Update Phone Number :<input type="text" name="phone"  maxlength="10" size="25"><br/>
<div class="button"><button type="submit" size="25" class="signupbtn">Submit</button></div>
</div>
<br/>
<br/>
<h5>{{message}}</h5>
</form>
</body>
</html>